<!-- templates/events.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>イベント一覧</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>イベント一覧</h1>
    <a th:href="@{/events/new}">イベントを作成</a>
    <p th:if="${message != null}" th:text="${message}" class="red-message"></p>
    <ul>
        <li th:each="event : ${events}">
			<a th:href="@{/events/{id}(id=${event.id})}">
            	<strong th:text="${event.title}">タイトル</strong>
            </a>（
            <span th:text="
            ${(event.startTime != null ? #temporals.format(event.startTime, 'yyyy-MM-dd HH:mm') : '開始日時未設定')
            + ' 〜 ' + 
            (event.endTime != null ? #temporals.format(event.endTime, 'yyyy-MM-dd HH:mm') : '終了日時未設定')}
            "></span>
            ）
        </li>
    </ul>
    <a th:href="@{/events/delete}">削除画面へ</a>
</body>
</html>
